body{
    background-color: rgb(202, 202, 202);
}



.container{
    display: grid;
    justify-content: center;
}


.formulario{
    display: grid;
    justify-content: center;
}

button{
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-center:;
    
}